body {
    background-color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container {
    background-color: rgb(227, 185, 221);
    max-width: 100%;
    margin: auto;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    padding: 25px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}

.footer.link {
    display: flex;
}

.link {
    width: 300px;
}

.link h3 {
    color: #1a2350;
    font-size: 20px;
    margin-bottom: 20px;
}

.link a {
    color: #202541;
    font-size: 18px;
    display: block;
    margin-bottom: 25px;
}

.link a:hover {
    color: #05c2ff;
}

.link p {
    color: #202541;
    font-size: 18px;
    margin-bottom: 25px;
}

.forms {
    display: flex;
    flex-direction: column;
}

.input {
    border: 1px solid #efeef3;
    padding: 15px;
    outline: none;
    color: #202541;
    border-radius: 10px;
    margin-bottom: 20px;
}

::placeholder {
    color: #7a7a88;
}

.btn {
    background: linear-gradient(90deg rgba(130, 190, 254, 1) 0%,
            rgba(102, 138, 255, 1) 70%);
    color: #ffffff;
    font-size: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;

}

.menu {
    color: #ffffff;
    font-size: 24px;
    padding: 50px;
    margin-right: 50px;
    margin-left: 50px;
}

article {
    text-align: center;
    color: rgb(36, 1, 36);
    font-family: fantasy;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor {
    width: 100%;
    position: relative;
    height: 780PX;
}

.botones {
    font-size: 30px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    font-weight: bold;
    position: absolute;
    color: #fff;
    box-shadow: 0 0 10 rgba(255, 255, 255, 0.6);
    -webkit-transition: all 0.3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.botones:hover {
    cursor: pointer;
    transform: scale(1.2, 1.2);
}

.atras {
    left: 2%;
    top: calc(50% - 70px);
}

.adelante {
    right: 2%;
    top: calc(50% - 70px);
}

.footer-container {
    position: relative;
}

.icon-size {
    height: 20px;
    width: 20px;
}

.list {
    list-style-type: none;
    padding: 10px;
}

.list-item {
    display: inline-block;
    margin: 0 10px;
}

.footer-link {
    align-content: center;
    display: flex;
    gap: 20px;
    align-items: center;
}

.footer-item {
    margin-left: 80px;
    margin-right: 80px;
    color: white;
}

.h3 {
    margin-bottom: 20px;
}

.header {
    display: flex;
}

.image-header {
    margin-left: 70px;
}

h1 {
    font-size: 70px;
    font-family: cursive;
    color: white;
    margin: 20px 20px 20px 300px;
}