body {
    background-color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

.container {
    background-color: rgb(227, 185, 221);
    max-width: 100%;
    margin: auto;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    padding: 10px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}

.link {
    width: 300px;
}

.link h3 {
    color: #1a2350;
    font-size: 20px;
    margin-bottom: 20px;
}

.link a {
    color: #202541;
    font-size: 18px;
    display: block;
    margin-bottom: 25px;
}

.link a:hover {
    color: #05c2ff;
}

.link p {
    color: #202541;
    font-size: 18px;
    margin-bottom: 25px;
}

.forms {
    display: flex;
    flex-direction: column;
}

.input {
    border: 1px solid #efeef3;
    padding: 15px;
    outline: none;
    color: #202541;
    border-radius: 10px;
    margin-bottom: 20px;
}

::placeholder {
    color: #7a7a88;
}

.btn {
    background: linear-gradient(90deg rgba(130, 190, 254, 1) 0%,
            rgba(102, 138, 255, 1) 70%);
    color: #ffffff;
    font-size: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;

}

.menu {
    color: #ffffff;
    font-size: 24px;
    /* padding: 50px; */
    /* margin-right: 50px;
    margin-left: 70px;
    margin-top: 20px; */
    margin: 20px 50px 0px 70px
}

article {
    text-align: center;
    /* color: rgb(36, 1, 36); */
    justify-content: center;

}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor {
    width: 100%;
    position: relative;
    height: auto;
}

.botones {
    font-size: 30px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    font-weight: bold;
    position: absolute;
    color: #fff;
    box-shadow: 0 0 10 rgba(255, 255, 255, 0.6);
    -webkit-transition: all 0.3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.botones:hover {
    cursor: pointer;
    transform: scale(1.2, 1.2);
}

.atras {
    left: 2%;
    top: calc(50% - 70px);
}

.adelante {
    right: 2%;
    top: calc(50% - 70px);
}

.icon-size {
    height: 20px;
    width: 20px;
}

.list {
    list-style-type: none;
    padding: 10px;
}

.list-item {
    display: inline-block;
    margin: 0 10px;
}

.footer-link {
    align-content: center;
    display: flex;
    gap: 20px;
    align-items: center;
}

.footer-item {
    margin-left: 60px;
    margin-right: 60px;
    color: white;
}

.h3 {
    margin-bottom: 20px;
}

.header {
    display: flex;
}

.image-header {
    margin-left: 50px;
    width: 80px;
    height: 80px;
}

h1 {
    font-size: 70px;
    font-family: cursive;
    color: white;
    margin: 20px 20px 20px 300px;
}

.body-index {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.txt {
    text-align: justify;
    margin-left: 30px;
    margin-right: 30px;
}

image {
    width: 350px;
    height: 250px;
}

.articulo-index {
    display: flex;
    margin: 20px
}

.servicio-ja {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 100px 30px 80px
}

.servicio-nosotros {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px 100px 70px 80px
}

.proyecto-inicial {
    display: flex;
    margin: 50px 50px 50px 100px
}

.txtx {
    /* margin-left: 120px; */
    margin: 30px 30px 30px 200px;
    text-align: justify;
}

h2 {
    font-size: 20px;
    font-family: cursive;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 10px;
    text-align: center;
}

.servicio-j {
    margin-right: 10px;
    justify-content: center;
}

.compras-body {
    justify-content: center;
    align-items: center;
    margin: 20px 100px 20px 80px
}

.nos_1 {
    margin: 30px 30px 30px 30px;
    display: flex;

}

.nos_2 {
    margin: 0px 30px 30px 30px;
    display: flex;
}

.nos_3 {
    margin: 0px 30px 30px 30px;
    display: flex;
}

.nos_3_1 {
    margin: 0px 30px 30px 80px;
    text-align: justify;
}

.nos_2_1 {
    margin: 0px 30px 30px 80px;
    text-align: justify;
}

.nos_1_1 {
    margin: 0px 30px 30px 80px;
    text-align: justify;
}

.nos_4_1 {
    margin: 0px 30px 30px 30px;
    text-align: justify;
}

.nos_4 {
    margin: 0px 200px 30px 40px;
    display: flex;
}

h4 {
    font-size: 20px;
    font-family: cursive;
    color: rgba(0, 0, 0, 0.7);
    margin: 10px 10px 10px 400px;
}

.carrusel-container {
    position: relative;
    width: 400px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-left: 500px;
    margin-right: 400px;
    margin-bottom: 20px;
}

.carrusel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carrusel img {
    width: 400px;
}

.btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.imagenes-servicios {
    height: 200px;
    width: 300px;
}

@media (max-width: 900px) {
    .header {
        align-items: center;
        flex-direction: column;
    }
    .footer-link {
        align-content: center;
        align-items: center;
        flex-direction: column;
    }
    .footer-item {
        margin-left: 10px;
        margin-right: 10px;
        color: white;
    }
}